{% extends 'layout.twig' %}

{% block body %}

<div>
  <h1>Welcome To Weather cast</h1>
  <h1>{{title}}</h1>
  <p>Enter a city name in the end of the url to see weather cast.</p>
  <p id="muted-text">Example: localhost:3000/Khulna</p>
</div>
  
{% endblock %}
