{% extends 'layout.twig' %}

{% block body %}

  <div>
    <h1>{{city}}</h1>
    <h5>Weather of {{city}}</h5>
    <p>High {{highTem}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Low {{lowTem}}</p> 
  </div>
  

{% endblock %}
